.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.break {
flex-basis: 100%;
height: 0;
}

#mainMenu {
    display: flex;
    flex-wrap: wrap;
	width: 100;
	font-family: sans-serif;
    font-size: 17px;
    background-color:#5e5d5d;
    padding-bottom: 5px;
    padding-top: 5px;
}

#mainMenu div {
	display:block;
    flex-direction: row;
	width:120px;
	float:left;
    background-color:#5e5d5d;
    text-align: center;
    
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#5e5d5d;
    padding-top: 20px;
    padding-bottom: 20px;
	color:#fff;
}

#mainMenu a:hover {
	background-color:#a7a5a5;
	color:#fff;
}

#wrapper {
    background-color: #d8d8d8;
    width: 80%;
    margin: auto;
    min-width: 800px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

/* Changes flex direction from row to column for width of device below 800px */
@media (max-width: 800px) {
.flex-container {
    flex-direction: column;
}

item{ 
    flex-grow: 4;
    height: 600px;
    width: 600px;
    }
item-wide { flex-grow: 8 ;
    }

}

footer {
    font-size: 100%;
    clear: right;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    min-width: 80%;
    background-image: url("images/about-us.jpg");


}

#item{

    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

#large_item{

    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}
.text{
    text-align:center;
    margin-bottom: 50px;
  }






/* For Product Page */

.flex-container-product-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;
  }


  #item_productpage{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    
}


#item_desc{
    margin-left: 50px;
    margin-right: 50px;
    margin-top:0px ;
    padding-top: 0px;
    padding-bottom: 20px;
}

#size {
    display: flex;
    flex-wrap: wrap;
	width: 100%;
	font-family: sans-serif;
    font-size: 17px;
    padding-bottom: 5px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 5px;
    
}

#size div {
	display:block;
    flex-direction: row;
	width:50px;
	float:left;
    background-color:#5e5d5d;
    text-align: center;
    border: 1px solid #d8d8d8;
    margin-left: 0px;
    
}

#size a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#5e5d5d;
    padding-top: 20px;
    padding-bottom: 20px;
	color:#fff;
}

#size a:hover {
	background-color:#a7a5a5;
	color:#fff;
}

#cart {
    background-image: url("images/cart.png");
    background-repeat: no-repeat;
    background-position: 5px 5px 5px 5px;
  }